*.user

CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake

*.sln*
*.vcxproj*
build/*

documentation/generated/*

demo/BtOgreTest.make
demo/Makefile
*.cfg
*.log
demo/bin/release/BtOgreTest
demo/bin/debug/BtOgreTest_d
demo/obj

/demo/build/*.glsl
/demo/build/*.hlsl
/demo/build/*.metal

/demo/build/HLMS/*
/demo/HLMS/*
/demo/build/*

#some IDE files
.idea/
.vscode/

cmake-build-*/

libBtOgre21.a
libBtOgre21_d.a
BtOgre21.lib
BtOgre21_d.a

#vim swp
.*.swp
